.w-22 {
    width: 5.68rem;
}

.w-25 {
    width: 25rem;
}

.image_carousel img {
    border: 2px solid #C7D3EB;
    border-radius: 64px;
    -webkit-box-shadow: 0px 32px 125.4px 0px #2F3C551A;
    -moz-box-shadow: 0px 32px 125.4px 0px #2F3C551A;
    box-shadow: 0px 32px 125.4px 0px #2F3C551A;
}

.navbar {
    width: 1800px;
}